.employeedashboardcontainer{
    margin-top: 6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.allformscontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

