.displayformcontainer {
    margin-top: 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: var(--light-cyan);
  }
  
  .customcontainer {
    display: flex;
    justify-content: center;
  }
  
  .displayformheader {
    display: flex;
    flex-direction: column;
    min-width: 45%;
    /* width: 45%; */
    background-color: var(--white-color);
    padding: 30px 30px;
    border-radius: 10px 10px 5px 5px;
    border-top: 10px solid var(--navbar-blue);
    box-shadow: var(--search-boxshadow);
  }
  
  .displayformheadertitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    border: none;
  }
  
  .displayformheaderdesc {
      font-size: 1rem;
      font-weight: 350;
      border: none;
  }

  
  .displayformbody{
      display: flex;
      min-width: 45%;
      flex-direction: column;
      gap: 20px;
      align-self: center;
  }
  
  .submitformbuttoncontainer{
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .submitformbutton{
    padding: 12px 30px;
    background-color: var(--navbar-blue);
    border: none;
    color: var(--white-color);
    border-radius: 5px;
    margin-bottom: 1.5rem;
  }
  