.functionalities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 15px;
  width: 100%;
}

.copyfieldbutton,
.deletefieldbutton,
.addfieldbutton {
  padding: 10px 15px;
  border: none;
  cursor: pointer;  
}

.savechangebutton{
  border:none;
}


.requiredcheckbox {
  margin-right: 0.75rem; 
}

.requiredcontainer {
  color: var(--navbar-blue);
  font-size: 0.75rem;
  display: flex;
  font-weight: 500;
  align-items: center;
  margin-top:1rem;
  line-height: 1;
}
