.functionalities{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 15px;
}

.copyfieldbutton,.deletefieldbutton,
.savechangebutton,.addfieldbutton{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}