.dropdownfieldcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.questionfield{
    padding: 5px;
    font-size: 1.25rem;
    border:none;
}

.questionfield:focus{
    outline:none;
}

.questionfield.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

