.createneworupdateformcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0rem 3rem;
  padding: 3rem 1rem;
  gap: 65px;
  height: fit-content;
  border-bottom: 2px solid transparent; /* Start with a transparent border */
  transition: all 1.5s ease-out;
}

.showAllForms .createneworupdateformcontainer {
  border-bottom: 2px solid var(--divider-color);
}

.rightformlistheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.formlists {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  align-self: flex-start;
}



.formlistheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--divider-color);
}

.searchcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    /* padding: 10px 20px; */
    font-size: 1.25rem;
    box-shadow: var(--search-boxshadow)
  }
  
  .searchbox {
    /* padding: 10px 20px; */
    border: none;
    font-size: 1rem;
  }
  
  .searchbox:focus {
    outline: none;
  }
  
  .searchicon {
    cursor: pointer;
    padding-bottom: 3px;
  }

.downarrow,
.uparrow {
  cursor: pointer;
}

.allformlist {
  /* max-width: 1200px; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust columns automatically */
  gap: 2rem;
  /* opaci
    transition: all 2s ease; */
}

/* .showAllForms1 .currentformlist {
    height: fit-content;
    opacity: 2.5;
  } */
