.displaypreviewformcontainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    overflow-x: hidden;
  }
  
  .customcontainer {
    display: flex;
    justify-content: center;
  }
  
  .displayformheader {
    display: flex;
    flex-direction: column;
      min-width: 45%;
      /* width: 45%; */
    background-color: var(--white-color);
    padding: 30px 30px;
    border-radius: 10px 10px 5px 5px;
    border-top: 10px solid var(--navbar-blue);
    box-shadow: var(--search-boxshadow);
  }
  
  .displayformheadertitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    border: none;
  }

  .displayformheadertitle:focus,.displayformheaderdesc:focus{
    outline: none;
  }
  
  .displayformheaderdesc {
      font-size: 1rem;
      font-weight: 350;
      border: none;
  }

  
  /* .displayformbody{
      display: flex;
      flex-direction: column;
     
      min-width: 45%;
      align-self: center;
  } */
  .displayformbody {
    display: flex;
    justify-content: center;
  }
  
  .displayinnerformbody {
    display: flex;
    gap: 20px;
    flex-direction: column;
      min-width: 45%;
      /* width: 45%; */
    
  }
  



  
  /* @media (max-width: 1000px) {
    .customcontainer{
        min-width: 30%;
    }
  } */