.displayshortanswercontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.questionfield{
    padding: 5px;
    font-size: 1.25rem;
    border:none;
}

.answerfield{
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--divider-color);
    transition: border-bottom 0.3s ease-in-out;
}

.answerfield:focus{
    outline:none;
    border-bottom: 1px solid var(--dark-divider);
}
.questionfield:focus{
    outline: none;
}