/* .createneworupdateformcontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0rem 3rem;
    padding: 3rem 1rem;
    gap: 65px;
    height: fit-content;
    border-bottom: 2px solid var(--divider-color); 
    transition:  all 1.5s ease-out; 
}

.showAllForms .createneworupdateformcontainer {
    border-bottom: 2px solid var(--dark-divider);
  } */

