

.signvectorimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

/* input[type="file"] {
  display: none;
} */
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
